	body{
		font-size:2em;
	}

	.rubrik{
		color:blue;
	}

	p{
		color:green;
	}

	body{
		background-color:black;
	}

	body{
		font-family: 'Comfortaa', cursive;
	}

	#content{
		margin: 0 auto;
		width:50%;
	}